@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    /* background: linear-gradient(to bottom right, #ffe6ee, #cfeefa); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;

}

.timezoneSelection{
    margin-top: 100px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.timezoneSelection button {
    background: none;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 100px;

}

.timezoneSelection button:hover{
    color: white;
}

.timezoneSelection li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timezoneSelection li:hover{
    background-color: black;
}

.timezoneSelection ul{
    padding: 0px;
    background: white;
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    list-style-type: none;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.timezoneSelection li button {
    background: none;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.timezoneSelection li button:hover {
    background: gray;
    border: none;

}

.clock {
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid white 17px;
    position: relative;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    box-shadow: inset 0 0 0,
                0 20px 20px rgba(0, 0, 0, .2);
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    border: 1px solid white;
    z-index: 11;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.clock .hand {
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height:45%;
    border: 1px solid white;
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 9;
}

.clock .hand.seconds{
    width:3px;
    height:47%;
    background-color: red;
    z-index: 10;

}
.clock .hand.minutes{
    width:7px;
    height:41%;
    background-color: black;
}
.clock .hand.hours{
    width:10px;
    height:30%;
    background-color: gray;
}


.clock .numbers{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    color: black;
}

#number1{ transform: rotate(30deg);}
#number1 div {transform: rotate(-30deg);}
#number2{ transform: rotate(60deg);}
#number2 div {transform: rotate(-60deg);}
#number3{ transform: rotate(90deg);}
#number3 div {transform: rotate(-90deg);}
#number4{ transform: rotate(120deg);}
#number4 div {transform: rotate(-120deg);}
#number5{transform: rotate(150deg);}
#number5 div {transform: rotate(-150deg);}
#number6{ transform: rotate(180deg);}
#number6 div {transform: rotate(-180deg);}
#number7{ transform: rotate(210deg);}
#number7 div {transform: rotate(-210deg);}
#number8{ transform: rotate(240deg);}
#number8 div {transform: rotate(-240deg);}
#number9{ transform: rotate(270deg);}
#number9 div {transform: rotate(-270deg);}
#number10{ transform: rotate(300deg);}
#number10 div {transform: rotate(-300deg);}
#number11{ transform: rotate(330deg);}
#number11 div {transform: rotate(-330deg);}


.digitalTime{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.clockFormat li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    list-style: none;
    justify-content: center;
}